html {
  height: 100%;
  font-size: 16px;

  @include at-least($base-type-size-break) {
    font-size: $base-type-size;
  }
}

body {
  min-height: 100%;
  font-family: $plain;
  margin: 0;
  color: $dark;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $bright;
}

main {
  flex: 1;
}

h1, h2, h3 {
  font-weight: normal;
}

.printonly {
  display: none;
}
