<!doctype html>
<html lang="en-us">
  <head>
    <title>404 | hey it's violet</title>
    <%= stylesheet_link_tag :error, :media => "screen" %>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <h1 id="title">404 error</h1>
      <p>
        An error has occurred. To continue:
      </p>
      <p>
        <a href="/">Click Here</a> to return to the index, or
      </p>
      <p>
        Press CTRL+ALT+DEL to restart your computer. If you do this, you will lose any unsaved data in all open applications.
      </p>
      <p>
        Error: 404: hi it's violet
      </p>
      <p id="prompt">
        <a href="/">Click here</a> to continue _
      </p>
    </main>
  </body>
</html>
