@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/OverpassMono-Light.woff2') format('woff2'), url('/fonts/OverpassMono-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/OverpassMono-Bold.woff2') format('woff2'), url('/fonts/OverpassMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pitch Display';
  src: url('/fonts/Pitch-Display.woff2') format('woff2'), url('/fonts/Pitch-Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Regular.woff2') format('woff2'), url('/fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Bold.woff2') format('woff2'), url('/fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Italic.woff2') format('woff2'), url('/fonts/Karla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-BoldItalic.woff2') format('woff2'), url('/fonts/Karla-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
