.footer-nav-link {
  display: inline-block;
  height: 100%;
  a {
    color: $dark;
    display: inline-grid;
    align-content: center;
    height: 100%;
    box-sizing: border-box;
    &:hover {
      color: $light;
      background-color: $dark;
      mix-blend-mode: darken;
      outline: none;
    }
    &:focus:not(:hover) {
      outline: solid 5px $rich;
      outline-offset: -5px;
    }
  }
}
