.aside {
  border-radius: 0.7em;
  margin: 0 $space;
  max-width: $max-content-width - $space * 2;
  background-color: $pale;
  @include at-least($secondary-media-break) {
    width: calc(100% - #{$max-content-width} - #{$space});
    max-width: $max-content-width / 3 * 2;
    margin-right: $space;
    float: right;
  }
  @include at-least($secondary-media-break-2) {
    width: $max-content-width / 3 * 2;
    margin-right: calc(
      100% - #{$max-content-width} - #{$max-content-width / 3 * 2} - #{$space}
    );
  }
  .aside-title {
    font-family: $mono;
    color: $dark;
    border-bottom: dashed 3px $light;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
    padding: 1em;
    text-align: center;
    display: block;
    &::first-letter {
      border-bottom: none;
    }
  }
  .aside-body {
    font-size: 0.8rem;
    padding: 1.5em 2em;
    margin: 0;
  }
}
