pre {
  font-size: 0.66rem;
  color: $light;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: $space $space $space * 2 $space;
  max-width: $max-content-width - $space * 3;
  box-sizing: border-box;
  position: relative;

  --bottom: $rich;
  --top: $bright;

  &.css, &.scss, &.sass {
    --top: $pale;
  }

  &.json, &.yaml, &.md {
    --bottom: $light;
  }

  &.erb, &.ruby{
    --top: $pale;
    --bottom: $bright;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 1em;
    left: 1em;
    right: -1em;
    bottom: -1em;
    background: linear-gradient(65deg, var(--bottom), var(--top));
  }

  code {
    font-family: $mono;
    line-height: 2em;
    background-color: $dark;
    z-index: 1;
    padding: $space * 2;
    position: relative;
    display: block;
  }

  .c1 {
    opacity: 0.5;
  }

  .kr, .kd, .k + .nx, .n, .nl, {
    color: $pale;
  }

  .k, .p, .s2, .o, .err, .si, .err + .nx, .nt, .cp, .nc, .nf, .si + .nd {
    color: $bright;
  }

  .p, .s2, .o, .err, .si, .cp, .si + .nd {
    opacity: 0.5;
  }

  .mi, .nb, .s1, .ss, .nv {
    color: lighten($rich, 25%);
  }

  .na {
    opacity: 0.8;
  }
}

.css {
  .nb {
    color: $light;
  }
}

.scss {
  .na {
    opacity: initial;
    color: $pale;
  }
}

.css, .scss {
  .nt {
    color: lighten($rich, 35%);
  }
}
