.content ol {
  list-style-type: none;
  counter-reset: counter;
  padding: 0 $space * 2 0 0;
  max-width: $max-content-width - $space * 2;
  li {
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
    margin-left: $space;
    padding-left: 3rem;
    padding-top: 0.5em;
    &::before {
      content: counter(counter);
      counter-increment: counter;
      font-family: $mono;
      display: inline-block;
      font-size: 2em;
      width: 1em;
      height: 1em;
      text-align: center;
      color: $dark;
      line-height: 1em;
      font-weight: bold;
      border-radius: 50%;
      background: linear-gradient(to bottom right, $bright, $light 60%);
      float: left;
      margin-left: -3rem;
    }
  }
}
