figure {
  margin: 0 0 2rem 0;
  max-width: $max-content-width;
  box-sizing: border-box;
  @include at-least($secondary-media-break) {
    max-width: 100%;
  }
}

figcaption {
  overflow: hidden;
  font-family: $mono;
  font-size: 0.8rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 25%;
    background: $pale;
  }
}
